ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 20rem;
  margin-right: 20rem;
}

li {
  font-size: 1.5rem;
}

a:link {
  color: #333333;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #333333;
}

a:hover {
  border-bottom: 0.15rem solid;
  padding-bottom: 0.5rem;
  border-color: #333333;
}

nav {
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
